* {
  margin: 0;
  padding: 0;
}



p {
  font-size: 18px;
  padding: 5px;
 
}




/* Формат сообщений */
  .message {
    margin-bottom: 30px;
  }
  .sender {
    font-weight: bold;
  }
  .timestamp {
    font-style: italic;
    font-size: 10px;
    color: #241f1f;
  }

  #messageForm {
   
    padding-top: 100px;
 
   
  }
  
  input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:active {
    background-color: #3e8e41;
  }




.message {
 display: flexbox;
 

}


  /* Формат чат-страницы */
.grid-panel {
  display: grid;
  grid-template-columns: repeat(100, 1fr)
}

.font-1 {
grid-column: 1/18;
display: grid;
grid-template-columns: repeat(10, 1fr);

}

/* .format-font-1-1 {
  background-color: inherit;
  height: inherit;
  grid-column: 1/4;
 


}
.format-font-1-2 {
  grid-column: 4/11;
} */






.font-2 {
  grid-column: 21/95;
}

.font-0 {
  grid-column: 95/101;
}











/* Верхняя панель */

.awesome-navbar {


  background-color: #333;
  padding: 12px;
  
}

.awesome-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
}

.awesome-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.awesome-navbar li {
  margin: 0 10px;
}

.awesome-navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

.awesome-navbar a::before,
.awesome-navbar a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.awesome-navbar a:hover::before,
.awesome-navbar a:hover::after {
  transform: scaleX(1);
}

.awesome-navbar a:hover {
  color: #ff00ff;
}

.awesome-navbar a.active {
  color: #ff00ff;
  font-weight: bold;
  text-decoration: underline;
}

/* grid верхней панели */

.awesome-navbar {
display: grid;
grid-template-columns: repeat(100, 1fr);
}
.empty-grid {
grid-column: 1/8;
}
.awesome-grid {
grid-column: 8/96;
}
.theme {
grid-column: 96/101;
}

/* Нижнее уведомление */
#notification {
position: fixed;
bottom: 20px;
right: 20px;
padding: 10px 20px;
background-color: #f0f0f0;
border: 1px solid #ccc;
border-radius: 4px;
display: none;
}

#notification1 {
position: fixed;
bottom: 20px;
right: 20px;
padding: 10px 20px;
background-color: #f0f0f0;
border: 1px solid #ccc;
border-radius: 4px;
display: none;
}

#notification2 {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: none;
  }

  /* Рамка подтвердить */


  .popup {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300px;
      border: 2px solid black;
      padding: 20px;
      text-align: center;
      background-color: white;
    }

.rules p {
  font-size: 14px;
}



    /* Кнопка нажатия */

    .awesome-button {
      background-color: #4CAF50; /* Зеленый цвет фона кнопки */
      border: none; /* Убрать границы кнопки */
      color: white; /* Белый цвет текста кнопки */
      font-weight: bold;
      padding: 10px 20px; /* Отступы внутри кнопки */
      text-align: center; /* Выравнивание текста по центру */
      text-decoration: none; /* Убрать подчеркивание текста */
      display: inline-block; /* Отображать кнопку как блочный элемент */
      font-size: 16px; /* Размер шрифта */
      cursor: pointer; /* Изменить курсор на указатель при наведении */
      border-radius: 5px; /* Закруглить углы кнопки */
      transition-duration: 0.4s; /* Длительность анимации при наведении */
      border-style: solid;
      border-width: 0.4px;
      border-color: #006d05;
    }

    .awesome-button:hover {
      background-color: #006d05; /* Изменить цвет фона при наведении */
      color: black;
      font-weight: bold;
      border-style: solid;
      border-width: 0.4px;
      border-color: aliceblue;
    }

/* Кнопка вниз страницы */
.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  font-size: 21px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}






@media (min-width: 701px) {
  #changeColorButtonMobile {
    opacity: 0;
  }
}
    
    @media (max-width: 700px) {
      #changeColorButtonMobile {
        opacity: 1;
      }
      
      .theme #changeColorButton {
        opacity: 0;
      }

    }

  


    @media (max-width: 600px) {
      
    

      .awesome-grid {
        display: none;
      }
        
        .navbar.open {
          width: 100vw !important;
        }

      .navbar-items-mobile {
        opacity: 1;
      }

     




        
    }


    @media (min-width: 601px)
{
  .navbar-items-mobile {
    opacity: 0;
  }
}
    
