.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100vh;
    background-color: #333;
    transition: width 0.5s;
  }
  
  .navbar.open {
    width: 250px;
  }
  
  .navbar-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
  }
  
  .navbar-toggle span {
    
    width: 20px;
    height: 2px;
    background-color: #333;
    margin: 2px;
    transition: background-color 0.3s;
  }
  
  .navbar.open .navbar-toggle span {
    background-color: #fff;
  }
  
  .navbar-items {
    display: none;
  }
  
  .navbar.open .navbar-items {
    display: block;
    padding-top: 60px;
  }
  
  .navbar-item {
    font-size: 18px;
   
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20px;
    transition: opacity 0.3s;
  }
  
  .navbar-item:hover {
    background-color:beige;
    color: #333;
  }

  .navbar.open .navbar-item {
    opacity: 1;
  }



